<!-- About us -->
<section class="about-us" id="about">
  <div class="container about-container">
    <ul class="about-list list">
      <li class="about-item">
        <img
          class="about-img"
          width="398"
          height="422"
          src="./img/about-us/img-1.jpg"
          alt="people"
        />
      </li>
      <li class="about-item">
        <img
          class="about-img position-img"
          width="301"
          height="319"
          src="./img/about-us/img-2.jpg"
          alt="people2"
        />
      </li>
    </ul>
    <div class="about-introduction">
      <p class="about-subtitle">
        <span class="subtitle-span">About</span> CanvasLancer
      </p>
      <h2 class="about-title">
        Introduction To Best
        <span class="subtitle-span">Digital Agency </span>
      </h2>
      <p class="about-text">
        Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu enim
        id gravida pulvinar. Tristique consectetur mi curabitur congue enim
        dignissim amet justo. Porta morbi nulla aliquet adipiscing. Sed diam
        mauris erat faucibus eu posuere ultricies quisque amet. Quam
        pellentesque in tristique sed neque scelerisque quam pulvinar. Risus
        dictum elementum lacus urna. Neque eget sagittis vulputate nam id morbi
        id. Aliquam molestie posuere pulvinar arcu
      </p>
      <button class="about-btn" type="button">Hire Us</button>
    </div>
  </div>
</section>
