<header class="header">
  <div class="container">
    <!-- Logo -->
    <a class="header-logo link" href=""
      ><img src="./img/logo.svg" alt="Logo" width="50" height="53" />Canvas
      Lancer</a
    >
    <nav class="nav">
      <ul class="nav-list list">
        <li class="nav-items">
          <a class="nav-link link" href="./index.html">Home</a>
        </li>
        <li class="nav-items">
          <a class="nav-link link" href="#about">About Us</a>
        </li>
        <li class="nav-items">
          <a class="nav-link link" href="#services">Services</a>
        </li>
        <li class="nav-items">
          <a class="nav-link link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-items">
          <a class="nav-link link" href="#customers">Testimonials</a>
        </li>
        <li class="nav-items"><a class="nav-link link" href="">Faqs</a></li>
      </ul>
    </nav>
    <button class="header-button" type="button">Contact Us</button>
  </div>
</header>