<section class="hero">
  <div class="container">
    <p class="hero-subtitle">
      Welcome To <span class="subtitle-span">Canavas Lancer</span>
    </p>
    <h1 class="hero-title">Designing the Future with Canvas Lancer</h1>
    <p class="hero-descr">
      Lorem ipsum dolor sit amet consectetur. Aliquam quisque cursus proin
      adipiscing quis diam. Eu fringilla elit commodo nec aliquet. Augue
      pharetra nibh co
    </p>
    <ul class="list hero-list">
      <li>
        <button class="hero-btn" type="button">Hire Us</button>
      </li>
      <li>
        <button class="hero-btn secondary-btn" type="button">
          View Portfolio
        </button>
      </li>
    </ul>
  </div>
</section>
