<section class="services" id="services">
        <div class="container services-cont">
          <div>
            <p class="services-subtitle">
              What We Are <span class="subtitle-span">Offering</span>
            </p>
            <h2 class="services-title">
              <span class="subtitle-span">Services</span> We Can Offer You !
            </h2>
            <p class="services-text">
              Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at arcu
              enim id gravida pulvinar. Tristique consectetur mi curabitur
              congue enim dignissim amet justo. Porta morbi nulla aliquet
              adipiscing. Sed diam mauris erat faucibus eu posuere ultricies
              quisque amet. Quam pellentesque in tristique
            </p>
            <button class="services-button" type="button">Hire Us</button>
          </div>
          <ul class="services-list list">
            <li class="services-items">
              <svg class="icon" width="49" height="49">
                <use href="./img/symbol-defs.svg#icon-ux-ui"></use>
              </svg>

              <h3 class="services-titel-icons">UI/UX</h3>
              <p class="services-text-icons">
                Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at
                arcu enim id gravida pulvinar. Tristique
              </p>
            </li>
            <li class="services-items">
              <svg class="icon" width="49" height="49">
                <use href="./img/symbol-defs.svg#icon-mobile"></use>
              </svg>

              <h3 class="services-titel-icons">Mobile Development</h3>
              <p class="services-text-icons">
                Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at
                arcu enim id gravida pulvinar. Tristique
              </p>
            </li>
            <li class="services-items">
              <svg class="icon" width="49" height="49">
                <use href="./img/symbol-defs.svg#icon-development"></use>
              </svg>

              <h3 class="services-titel-icons">Development</h3>
              <p class="services-text-icons">
                Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at
                arcu enim id gravida pulvinar. Tristique
              </p>
            </li>
            <li class="services-items">
              <svg class="icon" width="49" height="49">
                <use href="./img/symbol-defs.svg#icon-seo"></use>
              </svg>

              <h3 class="services-titel-icons">SEO</h3>
              <p class="services-text-icons">
                Lorem ipsum dolor sit amet consectetur. Adipiscing nisl id at
                arcu enim id gravida pulvinar. Tristique
              </p>
            </li>
          </ul>
        </div>
      </section>