.hero {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url(/img/hero/bg-hero.png);
  background-color: var(--color-black-202020);
  padding-top: 184px;
  padding-bottom: 190px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 14px;

  color: var(--body-color);
}
.subtitle-span {
  color: var(--color-main-red);
}
.hero-title {
  font-size: 70px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 22px;
  width: 790px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.hero-descr {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 30px;
  width: 786px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
  background: var(--color-main-red);
  padding: 12px 62px;
  border: none;
  border-radius: 5px;
}
.secondary-btn {
  color: var(--color-black-202020);
  background: var(--body-color);
  padding: 12px 34px;
}
.hero-list {
  display: flex;
  gap: 19px;
  /* margin-left: auto;
    margin-right: auto; */
  justify-content: center;
}
